header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

menu {
    display: flex;
    justify-content: right;
}

main section div article {
    display: flex;
    flex-basis: 0;
    left-margin: 5%;
    width: 
    justify-content: space-around;
}
