/*header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
*/
.nav {
    display: block;
    float: right;
    text-decoration: none;
}
.nav a {
    display: block;
    color: #005995;
    text-align: center;
    padding: 14px 16px;
    float: left;
    text-decoration: none;
}
body{
    margin: 20px;
    background-repeat:no-repeat;
   background-size:cover;
    background: white;
    /* background: url("../images/distillation.png") no-repeat center center fixed; */
    --color-primary: #005995;
    --color-primary-dark: #08007f;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
}

header{
    max-width: 1200px;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;
    color: #005995;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    max-width: 1200px;
    margin: 20px auto;
}
article.featured{
    grid-column: span 3;
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 60px;
    align-items: center;
    border-bottom: 1px solid #bbc7c7;
    padding-bottom: 40px;
}

article{
    display: none;
}
article img, article.featured img{
    width:100%;
    border: 4px solid #fff;
    border-radius: 8px;
}
article p, article h3{
    margin: 20px 10px;
}
.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    /* background: #ffffff; */
}

.container,
.forminput,
.formbutton {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form > :first-child {
    margin-top: 0;
}

.form >:last-child {
    margin-bottom: 0;
}

.formtitle {
    margin-bottom: 2rem;
    text-align: center;
    color: #005995;
}

.formmessage {
    text-align: center;
    margin-bottom: 1rem;
}

.formmessage--success {
    color: var(--color-success);
}

.formmessage--error {
    color: var(--color-error);
}

.forminput-group {
    margin-bottom: 1rem;
}

.forminput {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.forminput:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.forminput--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.forminput-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.formbutton {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.formbutton:hover {
    background: var(--color-primary-dark);
}

.formbutton:active {
    transform: scale(0.98);
}

.formtext {
    text-align: center;
}

.formlink {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

/*
menu {
    display: flex;
    justify-content: right;
}

main section div article {
    display: flex;
    flex-basis: 0;
    left-margin: 5%;
    justify-content: space-around;
}


table a {
    text-decoration: none;
    color: black;
}
th {
    text-decoration: none;
    color: black;
}

nav:hover{
    color: black;
}
h1{
    color: black;
}

section{
    width:100%;
    height: 100%;
    background-color:cornsilk;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



form{
    padding: 10px;
    border: solid aqua;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px ;
    height: fit-content;
}
[type = "submit"]{
    padding-top: 10px;
    height: 50px;
    width: 90%;
    padding: 5px;
    background-color: aqua;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 5px;
}
[type = "submit"]:hover{
    height: 50px;
    width: 90%;
    padding: 5px;
    background-color: aquamarine;
    font-size: 16px;
    font-weight: 600;
    border: 2px antiquewhite;
    border-radius: 5px;
}
*/