/*header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
*/
.nav {
    display: block;
    float: right;
    text-decoration: none;
}
.nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    float: left;
    text-decoration: none;
}
body{
    margin: 20px;
    background: beige;
}

header{
    max-width: 1200px;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    max-width: 1200px;
    margin: 20px auto;
}
article.featured{
    grid-column: span 3;
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 60px;
    align-items: center;
    border-bottom: 1px solid #bbc7c7;
    padding-bottom: 40px;
}
article img, article.freatured img{
    width:100%;
    border: 4px solid #fff;
    border-radius: 8px;
}
article p, article h3{
    margin: 20px 10px;
}

/*
menu {
    display: flex;
    justify-content: right;
}

main section div article {
    display: flex;
    flex-basis: 0;
    left-margin: 5%;
    justify-content: space-around;
}


table a {
    text-decoration: none;
    color: black;
}
th {
    text-decoration: none;
    color: black;
}

nav:hover{
    color: black;
}
h1{
    color: black;
}

section{
    width:100%;
    height: 100%;
    background-color:cornsilk;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



form{
    padding: 10px;
    border: solid aqua;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px ;
    height: fit-content;
}
[type = "submit"]{
    padding-top: 10px;
    height: 50px;
    width: 90%;
    padding: 5px;
    background-color: aqua;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 5px;
}
[type = "submit"]:hover{
    height: 50px;
    width: 90%;
    padding: 5px;
    background-color: aquamarine;
    font-size: 16px;
    font-weight: 600;
    border: 2px antiquewhite;
    border-radius: 5px;
}
*/