<div class="container" id="remove-item-form">
    <h1 class="form__title"> Input item ID to remove item.</h1>
    <div class="form__message form__message--error"></div>
    <div class="form__input-group">
        <input
                autofocus
                class="form__input"
                id="item-id"
                name="id"
                placeholder=0
                type="number">
        <div class="form__input-error-message"></div>
        <button class="form__button" id="submit-delete-item-button" style="float: right">Submit</button>
    </div>
</div>