<?xml version="1.0" encoding="utf-8" ?>
<!-- "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"-->
<!-- "http://java.sun.com/dtd/web-app_2_3.dtd" >-->
<web-app>
  <display-name>Project 2</display-name>
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
 
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/beans.xml</param-value>
  </context-param>
 
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>WEB-INF/beans.xml</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

<!--   <servlet>
  <servlet-name>LandingPageController</servlet-name>
  <servlet-class>com.example.controllers.LandingPageController</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>LandingPageController</servlet-name>
  <url-pattern>/</url-pattern>
</servlet-mapping>
 -->  
  
  <!-- lines 31 to 33 do not work -->
  <welcome-file-list>
        <welcome-file>resources/html/index.html</welcome-file>
  </welcome-file-list>


</web-app>










